*.csv
*.DS_Store
*.jpg
*.pkl
*.png
*.zip

#directories

testskryptu/

data_all/.ipynb_checkpoints/
data_all/__pycache__/
php_messages-master/
pobrane/
poniedzialek/

data/
!data/pilotaz1/DrawPlot.ipynb
img/
!img/img_script.py
jspsych-5.0.3/
!jspsych-5.0.3/plugins/jspsych-similarity_modified.js

#files


__pycache__/
aaaaa
analyticstracking.php
data_all/test.html
data_all/untitled.txt
database_connect.php
fit_model2.py
fit_model3.py
save_data_mysql.php
wariancje.txt
